.invoice-row {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
    font-size: 12px;
}
.invoice-row:hover {
    cursor: pointer;
}

.invoice-row .amount {
    font-size: 10px;
    display: flex;
    line-height: 0;
    flex-direction: column;
}